.DS_Store
CourseProject
*.o
.vscode
.DS_Store
.DS_Store

Operating Systems/sortuniqwc
.DS_Store
.DS_Store
.DS_Store
Operating Systems/Programming Project 2/ReadersWriters
.DS_Store
.DS_Store
.DS_Store
Artificial Intelligence/Project 1/__pycache__/util.cpython-37.pyc
Artificial Intelligence/Project 1/__pycache__/searchAgents.cpython-37.pyc
Artificial Intelligence/Project 1/__pycache__/search.cpython-37.pyc
Artificial Intelligence/Project 1/__pycache__/pacmanAgents.cpython-37.pyc
Artificial Intelligence/Project 1/__pycache__/pacman.cpython-37.pyc
Artificial Intelligence/Project 1/__pycache__/layout.cpython-37.pyc
Artificial Intelligence/Project 1/__pycache__/keyboardAgents.cpython-37.pyc
Artificial Intelligence/Project 1/__pycache__/graphicsUtils.cpython-37.pyc
Artificial Intelligence/Project 1/__pycache__/graphicsDisplay.cpython-37.pyc
Artificial Intelligence/Project 1/__pycache__/ghostAgents.cpython-37.pyc
Artificial Intelligence/Project 1/__pycache__/game.cpython-37.pyc
Artificial Intelligence/Project 1/pacman.pyc
Artificial Intelligence/Project 1/search.pyc
